<%- include("partials/header.ejs") %>

<div class="container">
	<h1 class="display-3 text-center my-5">Welcome to The Shoppies!</h1>
	<div class="row">
		<div class="col-10 mx-auto">
			<!-- Start of card -->
			<div class="row border rounded-lg py-5">
				<div class="col border-right">
					<div class="row">
						<div class="col-8 mx-auto">
							<!-- Strart of login form -->
							<form action="/login" method="POST">
								<div class="form-group">
									<label for="username">Username</label>
									<input id="username" class="form-control" name="username" type="text" required>
								</div>
								<div class="form-group">
									<label for="login-password">Password</label>
									<input id="login-password" class="form-control" name="password" type="password" required>
								</div>
								<button type="submit" class="btn btn-primary">Login</button>
							</form>
							<!-- End of Login form -->
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row h-100">
						<div id="login-or-register" class="bg-white">OR</div>
						<div class="col-auto mx-auto d-flex">
							<a href="/register" class="btn btn-warning btn-lg align-self-center"><i class="fas fa-edit"></i> Register</a>
						</div>
					</div>
				</div>
			</div>
			<!-- End of card -->
		</div>
	</div>
</div>

<%- include("partials/footer.ejs") %>