<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>The Shoppies Nominations</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
		<link rel="stylesheet" href="/stylesheets/app.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/">The Shoppies</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="mainMenu">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/movies">Search</a>
						</li>
					</ul>
					<hr id="nav-menu-divider" class="d-md-none">
					<ul class="navbar-nav">
						<% if(currentUser){ %>
							<li class="nav-item">
								<a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
							</li>
						<% } else { %>
							<li class="nav-item">
								<a class="nav-link" href="/login"><i class="fas fa-user"></i> Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a>
							</li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
